<div class="page-header">
  <h1>Student Login</h1>
</div>
<% if @error_login.present? %>
<div class="alert alert-danger">
  <strong>Error Login !</strong> <%= @error_login %>
</div>
<% end %>


<div class="wrapper">
    <form class="form-signin" method="post" action="login_check">
      <input type="text" class="form-control" name="username" placeholder="Username" autofocus="" required="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
