<div class="page-header">
  <h1><center>
    Student Login
  </center></h1>
</div>
<% if @error_login.present? %>
<div class="alert alert-danger fade in">
  <a href="login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error Login !</strong> <%= @error_login %>
</div>
<% end %>
<div class="card card-container">
  <img class="profile-img-card" src="/media/images/back.jpg" alt="" />
  <p id="profile-name" class="profile-name-card"></p>
  <form class="form-signin" action="/session/login_check" method="post">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="input" id="inputEmail" class="form-control" name="username" placeholder="Username" required autofocus>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
      <div id="remember" class="checkbox">
        <label> <input type="checkbox" value="remember-me"> Remember me </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
  </form>
  <a href="#" class="forgot-password"> Forgot the password? </a>
  <div class="not_register_yet">
  <a href="/session/register" class="forgot-password">Not registered yet ? Signup</a>
</div>
</div>
