<div class="page-header">
  <h1>Student Registration</h1>
</div>
<div class="wrapper">
    <form class="form-signup" method="post" action="localhost:9393">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="input" class="form-control" name="name" placeholder="Enter the name">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="input" class="form-control" name="age" placeholder="Enter the age">
      </div>
      <div class="form-group">
        <label for="mob">Mobile:</label>
        <input type="input" class="form-control" name="mob" placeholder="Enter the mobile">
      </div>
      <div class="form-group">
        <label for="dep">Department:</label>
        <input type="input" class="form-control" name="dep" placeholder="Enter the Depatment">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="input" class="form-control" name="email" placeholder="Enter the name">
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </div>
