<div class="page-header">
  <h1>Student Registration</h1>
</div>
<ul>
  
  <% if @errors %>
    <% @errors.each do |error| %>
       <li>
         <%= error %>
       </li>
    <% end %>
  <% end %>

</ul>
<div class="wrapper">
    <form class="form-signup" method="post" action="create">

      <div class="form-group">
        <label for="name">Username:</label>
        <input type="input" class="form-control" name="username" placeholder="Enter the username">
      </div>
      <div class="form-group">
        <label for="name">Password:</label>
        <input type="input" class="form-control" name="password" placeholder="Enter the password">
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="input" class="form-control" name="name" placeholder="Enter the name">
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <input type="input" class="form-control" name="age" placeholder="Enter the age">
      </div>
      <div class="form-group">
        <label for="mob">Mobile:</label>
        <input type="input" class="form-control" name="mob" placeholder="Enter the mobile">
      </div>
      <div class="form-group">
        <label for="dept">Department:</label>
        <input type="input" class="form-control" name="dept" placeholder="Enter the Depatment">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="input" class="form-control" name="email" placeholder="Enter the name">
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
    </form>
  </div>
