<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap included -->
  <link rel="stylesheet" href = "/media/css/bootstrap.min.css">
  <link rel="stylesheet" href = "/media/css/rsd.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  <title>Rack Student Data</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Rack Student Data Collector</h1>
      <p>
        Collects student data.
      </p>
    </div>
    <div class="container">

        <%= render_view(template) %>

    </div>
  </div>

</body>

</html>









<!--<%= render_view(template) %> -->
